@charset "UTF-8";
/* PALETA DE COLORES */
/* TIPOGRAFIA */
/* PROYECTO */
* {
  margin: 0;
  padding: 0;
  color: #fdfdfd;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #070510;
  overflow-x: hidden;
}

h1 {
  font-family: "Roboto Flex";
  font-size: 48px;
  font-weight: 700;
}

p {
  font-family: "Roboto Flex";
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  line-height: 24px;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor {
  width: 90%;
  justify-content: center;
}

.seccion-inicio {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.seccion-inicio .imagen-fondo {
  position: absolute;
  align-self: self-end;
  z-index: -2;
}
.seccion-inicio .contenedor-inicio {
  margin: 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion-inicio .contenedor-inicio .logo-mec {
  width: 1190px;
}
.seccion-inicio .contenedor-inicio spline-viewer {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.seccion-inicio .contenedor-inicio .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 20%;
}
.seccion-inicio .contenedor-inicio .intro p {
  font-family: "Roboto Flex";
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  color: var(--color-grey-500, #FDFDFD);
  width: 40%;
  /* normal/text/XL */
  font-family: Roboto Flex;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 116.667% */
}
.seccion-inicio .contenedor-inicio .intro .iconos-3d {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.seccion-inicio .contenedor-inicio .intro .iconos-3d img {
  height: 200px;
  padding: 0px 0px;
}
.seccion-inicio .contenedor-inicio .intro .botones-inicio {
  top: 70%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}
.seccion-inicio .contenedor-inicio .intro .botones-inicio .boton {
  border-radius: var(--radius-radius-lg, 40px);
  border: 2px solid var(--primary-mixed, #03989E);
  background: #252525;
  padding: 15px;
  width: 200px;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
}
.seccion-inicio .contenedor-inicio .intro .botones-inicio .boton:hover {
  background: linear-gradient(82deg, #03989E 5.92%, #9747FF 94.29%);
  border: 1px solid var(--color-border-border, #FDFDFD);
}

.seccion-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.seccion-nosotros .contenedor {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: var(--radius-radius-xl, 25px);
  background: rgba(37, 30, 67, 0.3);
}
.seccion-nosotros .contenedor .introduccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  padding: 30px 70px;
}
.seccion-nosotros .contenedor .introduccion h1 {
  font-family: "Roboto Flex";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.seccion-nosotros .contenedor .introduccion .descripcion {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.seccion-nosotros .contenedor .introduccion .descripcion p {
  width: 100%;
  text-align: left;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 400;
}

.seccion-servicios {
  padding-top: 50px;
}
.seccion-servicios .contenedor {
  margin: 0px 70px;
  padding-top: 20px;
}
.seccion-servicios .contenedor .encabezado {
  text-align: center;
  width: 100%;
}
.seccion-servicios .contenedor .tab {
  width: 100%;
}
.seccion-servicios .contenedor .tab ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.seccion-servicios .contenedor .tab ul li {
  padding: 0px 32px;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 400;
}
.seccion-servicios .contenedor .carrusel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.seccion-servicios .contenedor .carrusel .carrusel-industria {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.seccion-servicios .contenedor .carrusel .carrusel-inventario {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.seccion-servicios .contenedor .carrusel .carrusel-software {
  width: 75%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.seccion-servicios .contenedor .carrusel a {
  width: 100%;
}
.seccion-servicios .contenedor .carrusel a .carta {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 580px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.seccion-servicios .contenedor .carrusel a .carta .bloque-descripcion {
  margin-left: 17px;
  margin-right: 17px;
  height: 89px;
  border-radius: var(--radius-radius-sm, 10px);
  border: 0.2px solid var(--color-purple-501, #D4C8EE);
  background: linear-gradient(0deg, rgba(46, 32, 80, 0.2) 0%, rgba(46, 32, 80, 0.2) 100%), rgba(196, 156, 214, 0.2);
  backdrop-filter: blur(7.5px);
  margin-bottom: 32px;
  padding: 5px;
}
.seccion-servicios .contenedor .carrusel a .carta .bloque-descripcion p {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
.seccion-servicios .contenedor .carrusel #diseno-fabricacion {
  background-image: url(../assets/img/servicios/Industria/Diseño-y-fabricación/Encabezado.jpg);
}
.seccion-servicios .contenedor .carrusel #ingenieria-integral {
  background-image: url(../assets/img/servicios/Industria/Ingeniería-Integral/Encabezado.jpg);
}
.seccion-servicios .contenedor .carrusel #mantenimiento-industrial {
  background-image: url(../assets/img/servicios/Industria/Mantenimiento-Industrial/Encabezado.jpg);
}
.seccion-servicios .contenedor .carrusel #suministro-directo {
  background-image: url(../assets/img/servicios/Industria/Suministro-Directo/Encabezado.jpg);
}
.seccion-servicios .contenedor .carrusel #diseno-almacenes-asesoria-inventarios {
  background-image: url(../assets/img/servicios/Inventario/Diseño-de-Almacenes-y-Asesoría-en-Inventarios/Encabezado.jpg);
}
.seccion-servicios .contenedor .carrusel #revaluo-activos {
  background-image: url(../assets/img/servicios/Inventario/Revalúo-de-activos/Encabezado.jpg);
}
.seccion-servicios .contenedor .carrusel #aplicaciones-gestion-integral {
  background-image: url(../assets/img/servicios/Software/Aplicaciones-de-gestión-integral-con-inteligencia-artificial/Encabezado.jpg);
}
.seccion-servicios .contenedor .carrusel #oficinas-virtuales {
  background-image: url(../assets/img/servicios/Software/Oficinas-Virtuales/Encabezado.jpg);
  background-position: 90%;
}
.seccion-servicios .contenedor .carrusel #sitios-web {
  background-image: url(../assets/img/servicios/Software/Sitios-Web/Encabezado.jpg);
}

.seccion-principios .contenedor {
  display: flex;
  flex-direction: row;
  margin-top: 85px;
  padding-top: 70px;
  padding-bottom: 50px;
  gap: 20px;
  align-items: center;
}
.seccion-principios .contenedor .seccion-principios__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 33%;
}
.seccion-principios .contenedor .seccion-principios__left h1 {
  margin-bottom: 23.43px;
}
.seccion-principios .contenedor .seccion-principios__left p {
  margin-bottom: 32px;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 400;
}
.seccion-principios .contenedor .seccion-principios__left .boton {
  background-color: #03989e;
  padding: 15px;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  border-radius: var(--radius-radius-rounded, 50px);
  background: var(--color-brand-1-color, #03989E);
}
.seccion-principios .contenedor .seccion-principios__left .boton:hover {
  background: linear-gradient(82deg, #03989E 5.92%, #9747FF 94.29%);
  border: 1px solid var(--color-border-border, #FDFDFD);
}
.seccion-principios .contenedor .seccion-principios__middle {
  background-image: url(../assets/img/por-qué-mec.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 33%;
  height: 344px;
}
.seccion-principios .contenedor .seccion-principios__right {
  display: flex;
  flex-direction: column;
  gap: 10.91px;
  width: 33%;
}
.seccion-principios .contenedor .seccion-principios__right .item {
  display: flex;
  height: 72px;
  padding: var(--spacing-lg, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-radius-sm, 10px);
  border: 1px solid var(--color-border-border, #FDFDFD);
}
.seccion-principios .contenedor .seccion-principios__right .item h2 {
  font-family: Roboto Flex;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 114.286% */
}
.seccion-principios .contenedor .seccion-principios__right #item-1 {
  display: none;
}
.seccion-principios .contenedor .seccion-principios__right .accordion {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: var(--radius-radius-lg, 20px);
  border: 0.5px solid var(--color-purple-501, #D4C8EE);
  background: var(--primary-mixed, linear-gradient(82deg, #03989E 5.92%, #9747FF 94.29%));
  display: none;
}
.seccion-principios .contenedor .seccion-principios__right .accordion h2 {
  text-align: center;
  font-family: Roboto Flex;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
}
.seccion-principios .contenedor .seccion-principios__right .accordion p {
  color: var(--color-text-color-text-primary, #FDFDFD);
  /* normal/text/M */
  font-family: Roboto Flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 114.286% */
  margin-bottom: 0px;
  align-self: center;
  justify-content: centerw;
}
.seccion-principios .contenedor .seccion-principios__right #accordion-1 {
  display: block;
}

.seccion-clientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion-clientes .contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion-clientes .contenedor .introduccion {
  text-align: center;
  text-shadow: 0px 10px 20px rgba(151, 71, 255, 0.6);
  /* bold/textXXL */
  font-family: Roboto Flex;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 100% */
  background: linear-gradient(180deg, #9747FF 20.54%, #03989E 89.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 102px 145px;
}
.seccion-clientes .contenedor .encabezado {
  /* bold/text/XL */
  font-family: Roboto Flex;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion-clientes .contenedor .carrusel-comentarios {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.seccion-clientes .contenedor .carrusel-comentarios .container-comentario {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-glass, rgba(37, 30, 67, 0.3));
  padding: 30px 20px;
}
.seccion-clientes .contenedor .carrusel-comentarios .container-comentario .comentario {
  display: flex;
  flex-direction: row;
  height: max-content;
}
.seccion-clientes .contenedor .carrusel-comentarios .container-comentario .comentario img {
  height: 44px;
  width: 52px;
}
.seccion-clientes .contenedor .carrusel-comentarios .container-comentario p {
  padding: 0px 75px;
  font-family: Roboto Flex;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 112.5% */
}
.seccion-clientes .contenedor .carrusel-comentarios .container-comentario .container-persona {
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 12px;
}
.seccion-clientes .contenedor .carrusel-comentarios .container-comentario .container-persona .nombre-persona {
  color: var(--color-text-color-text-primary, #FDFDFD);
  /* bold/text/S */
  font-family: Roboto Flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  text-align: right;
  margin-bottom: 0px;
}
.seccion-clientes .contenedor .carrusel-comentarios .container-comentario .container-persona .cargo-persona {
  color: var(--color-text-color-text-primary, #FDFDFD);
  /* normal/text/S */
  font-family: Roboto Flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  text-align: right;
}
.seccion-clientes .contenedor .carrusel-comentarios .container-comentario img {
  width: 52px;
}

.carrusel-empresas {
  margin-top: 50px;
  display: flex;
  padding: 0px 70px;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 100px;
  row-gap: 0px;
  justify-content: center;
  overflow: hidden;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}
.carrusel-empresas img {
  width: 300px;
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.seccion-contactanos {
  display: flex;
  flex-direction: column;
  padding-top: 106px;
  justify-content: center;
  padding-bottom: 102px;
}
.seccion-contactanos .encabezado {
  text-align: center;
}
.seccion-contactanos .tab ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}
.seccion-contactanos .tab ul li {
  padding: 0px 32px;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 400;
}
.seccion-contactanos #tab-servicios {
  background: linear-gradient(180deg, #03989E 7.58%, #6C57BF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.seccion-contactanos #tab-programas {
  display: none;
}
.seccion-contactanos .bloque-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0px 70px;
}
.seccion-contactanos .bloque-form .formularios label {
  color: var(--color-text-color-text-primary, #FDFDFD);
  width: 100%;
  /* normal/text/S */
  font-family: Roboto Flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
}
.seccion-contactanos .bloque-form .formularios input {
  display: flex;
  padding: var(--spacing-padding-padding-lg, 20px) var(--spacing-padding-padding-sm, 10px);
  align-items: center;
  align-self: stretch;
  border-radius: var(--radius-radius-sm, 10px);
  border: 1px solid var(--color-grey-500, #FDFDFD);
  background-color: black;
  width: 100%;
}
.seccion-contactanos .bloque-form .formularios input select {
  display: flex;
  padding: var(--spacing-padding-padding-lg, 20px) var(--spacing-padding-padding-md, 15px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-radius-sm, 10px);
  border: 1px solid var(--color-grey-500, #FDFDFD);
  background-color: black;
  width: 100%;
}
.seccion-contactanos .bloque-form .formularios .formulario-servicios {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.seccion-contactanos .bloque-form .formularios .formulario-servicios .contenedor-bloque {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.seccion-contactanos .bloque-form .formularios .formulario-servicios .contenedor-bloque-2 {
  display: flex;
  flex-direction: row;
}
.seccion-contactanos .bloque-form .formularios .formulario-servicios #checkbox-permisos {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.seccion-contactanos .bloque-form .formularios .formulario-servicios #checkbox-permisos input {
  width: 16px;
  height: 16px;
  border-radius: 1px;
  background: var(--color-grey-500, #FDFDFD);
}
.seccion-contactanos .bloque-form .formularios .formulario-servicios #checkbox-permisos label {
  font-family: Roboto Flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 88.889% */
}
.seccion-contactanos .bloque-form .formularios .boton {
  background-color: #03989e;
  padding: 15px;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  border-radius: var(--radius-radius-rounded, 50px);
  background: var(--color-brand-1-color, #03989E);
}
.seccion-contactanos .bloque-form .formularios .boton:hover {
  background: linear-gradient(82deg, #03989E 5.92%, #9747FF 94.29%);
  border: 1px solid var(--color-border-border, #FDFDFD);
}
.seccion-contactanos .bloque-form .mapa {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.seccion-contactanos .bloque-form .mapa .informacion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.seccion-contactanos .bloque-form .mapa .informacion .contenedor-bloque {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.seccion-contactanos .bloque-form .mapa .informacion .contenedor-bloque img {
  width: 32px;
  height: 32px;
}
.seccion-contactanos .bloque-form .mapa .informacion .contenedor-bloque p {
  color: #FFF;
  /* normal/text/S */
  font-family: Roboto Flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
}

footer {
  background-color: var(--background-glass, rgba(37, 30, 67, 0.3));
  padding: 16px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .logo-derechos-reservados {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .logo-derechos-reservados .logo-footer {
  width: 373.475px;
}
footer .logo-derechos-reservados p {
  color: #FFF;
  font-family: Roboto Flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
}
footer .redes-sociales {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
footer .redes-sociales img {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid var(--color-grey-500, #FDFDFD);
}
footer .redes-sociales img:hover {
  border-radius: var(--radius-radius-rounded, 50px);
  border: 1px solid var(--Primary-mix, #36D5E0);
}

section {
  position: relative;
  transition: 1.5s;
}

section {
  transform: translate(0, 400px);
}

section.active {
  transform: translate(0, 0);
}

nav {
  display: flex;
  width: 100%;
  z-index: 1000;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(7, 5, 12, 0.2) 0%, rgba(46, 32, 80, 0.2) 100%), rgba(196, 156, 214, 0.2);
  backdrop-filter: blur(7.5px);
  position: fixed;
  justify-content: end;
}
nav .nav-bar__bigger-screen {
  margin-right: 70px;
}
nav .nav-bar__bigger-screen ul {
  padding-top: 1rem;
  margin-right: 70px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: end;
  margin-right: 0px;
}
nav .nav-bar__bigger-screen ul a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
nav .nav-bar__bigger-screen ul a li {
  list-style: none;
}
nav .nav-bar__bigger-screen ul a li ul {
  display: flex;
  flex-direction: column;
  display: none;
}
nav .nav-bar__bigger-screen ul a li ul li {
  width: 100%;
  list-style: none;
  padding: var(--spacing-lg, 20px) var(--spacing-md, 15px);
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-radius-sm, 10px);
  border: 1px solid var(--color-border-border, #FDFDFD);
  background: var(--background-menu, rgba(7, 5, 16, 0.9));
}
nav .nav-bar__bigger-screen ul li {
  font-family: "Roboto Flex";
  font-size: 20px;
  font-weight: 400;
}
nav .nab-bar__smaller-screen {
  display: none;
}

.seccion-encabezado {
  display: flex;
  flex-direction: column;
  height: 60vh;
  position: relative;
  justify-content: center;
  align-items: center;
}
.seccion-encabezado img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.seccion-encabezado .titulos {
  display: flex;
  flex-direction: column;
  width: 66%;
  border-radius: var(--spacing-padding-padding-sm, 10px);
  background: var(--background-glass, rgba(37, 30, 67, 0.3));
  backdrop-filter: blur(5px);
  padding: 20px;
  align-items: flex-start;
  justify-content: left;
}

.introduccion-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  padding: 30px 70px;
  min-height: 40vh;
}
.introduccion-servicios p {
  width: 100%;
  text-align: left;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 400;
  border-radius: var(--radius-radius-xl, 25px);
  background: rgba(37, 30, 67, 0.3);
  padding: 30px;
}

.subservicios {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.subservicios .contenedor {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.subservicios .contenedor .grilla {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.subservicios .contenedor .grilla .contenedor-subservicio--izquierda {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.subservicios .contenedor .grilla .contenedor-subservicio--izquierda .imagen-subservicio {
  width: 50%;
  height: 252px;
  overflow-y: hidden;
  border-radius: var(--radius-radius-lg, 20px);
  border: 2px solid var(--color-hover-item, #03989E);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subservicios .contenedor .grilla .contenedor-subservicio--izquierda .imagen-subservicio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subservicios .contenedor .grilla .contenedor-subservicio--izquierda .descripcion-subservicio {
  display: flex;
  flex-direction: column;
  padding: 20px 32px;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.subservicios .contenedor .grilla .contenedor-subservicio--izquierda .descripcion-subservicio h1 {
  color: #FFF;
  text-align: center;
  /* bold/text/L */
  font-family: Roboto Flex;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
}
.subservicios .contenedor .grilla .contenedor-subservicio--izquierda .descripcion-subservicio p {
  color: #FFF;
  /* normal/text/S */
  font-family: Roboto Flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
}
.subservicios .contenedor .grilla .contenedor-subservicio--derecha {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.subservicios .contenedor .grilla .contenedor-subservicio--derecha .imagen-subservicio {
  position: relative;
  width: 50%;
  height: 252px;
  overflow-y: hidden;
  border-radius: var(--radius-radius-lg, 20px);
  border: 2px solid var(--color-hover-item, #03989E);
}
.subservicios .contenedor .grilla .contenedor-subservicio--derecha .imagen-subservicio img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subservicios .contenedor .grilla .contenedor-subservicio--derecha .descripcion-subservicio {
  display: flex;
  flex-direction: column;
  padding: 20px 32px;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.subservicios .contenedor .grilla .contenedor-subservicio--derecha .descripcion-subservicio h1 {
  color: #FFF;
  text-align: center;
  /* bold/text/L */
  font-family: Roboto Flex;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
}
.subservicios .contenedor .grilla .contenedor-subservicio--derecha .descripcion-subservicio p {
  color: #FFF;
  /* normal/text/S */
  font-family: Roboto Flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
}

@media (max-width: 480px) {
  nav {
    display: none;
    min-height: 50px;
  }
  nav .nav-bar__bigger-screen {
    display: none;
  }
  nav .nab-bar__smaller-screen {
    display: block;
  }
  nav .nab-bar__smaller-screen .offcanvas-body {
    background-color: black;
    width: 100%;
    height: 100vh;
  }
  main {
    /* SUB PAGINAS */
  }
  main .contenedor {
    width: 90%;
  }
  main .seccion-inicio .contenedor-inicio spline-viewer {
    top: -10%;
  }
  main .seccion-inicio .contenedor-inicio .intro {
    bottom: 10%;
  }
  main .seccion-inicio .contenedor-inicio .intro p {
    width: 90%;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }
  main .seccion-inicio .contenedor-inicio .intro .botones-inicio {
    flex-direction: column;
    gap: 5px;
    width: 90%;
    top: 60%;
  }
  main .seccion-inicio .contenedor-inicio .intro .botones-inicio .boton {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
  main .seccion-nosotros .contenedor {
    margin-bottom: 0px;
    padding: 8px;
  }
  main .seccion-nosotros .contenedor .introduccion {
    padding: 0px;
  }
  main .seccion-nosotros .contenedor .introduccion h1 {
    font-size: 28px;
  }
  main .seccion-nosotros .contenedor .introduccion .descripcion p {
    font-size: 18px;
  }
  main .seccion-servicios .contenedor {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  main .seccion-servicios .contenedor .encabezado h1 {
    font-size: 28px;
  }
  main .seccion-servicios .contenedor .carrusel .carrusel-industria {
    flex-direction: column;
  }
  main .seccion-servicios .contenedor .carrusel .carrusel-inventario {
    flex-direction: column;
    width: 100%;
  }
  main .seccion-servicios .contenedor .carrusel .carrusel-software {
    flex-direction: column;
    width: 100%;
  }
  main .seccion-servicios .contenedor .carrusel .carta {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  main .seccion-servicios .contenedor .carrusel .carta .bloque-descripcion {
    width: 95%;
    margin-top: 55px;
    margin-bottom: 55px;
    height: 90px;
  }
  main .seccion-servicios .contenedor .carrusel .carta .bloque-descripcion p {
    font-family: Roboto Flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
    padding: 3px;
  }
  main .seccion-principios .contenedor {
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 40px;
    flex-direction: column;
  }
  main .seccion-principios .contenedor .seccion-principios__left {
    width: 100%;
  }
  main .seccion-principios .contenedor .seccion-principios__left h1 {
    font-size: 30px;
    text-align: center;
    margin: 0px;
  }
  main .seccion-principios .contenedor .seccion-principios__left p {
    font-size: 18px;
    margin: 0px;
  }
  main .seccion-principios .contenedor .seccion-principios__middle {
    width: 100%;
  }
  main .seccion-principios .contenedor .seccion-principios__right {
    width: 100%;
    gap: 20px;
  }
  main .seccion-principios .contenedor .seccion-principios__right .item {
    gap: 12px;
  }
  main .seccion-principios .contenedor .seccion-principios__right .item p {
    font-size: 18px;
  }
  main .seccion-principios .contenedor .seccion-principios__right .accordion {
    padding: 16px;
  }
  main .seccion-principios .contenedor .seccion-principios__right .accordion h2 {
    font-size: 20px;
  }
  main .seccion-principios .contenedor .seccion-principios__right .accordion p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  main .seccion-clientes .contenedor .introduccion {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 114.286% */
    padding: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  main .seccion-clientes .contenedor .encabezado h1 {
    font-size: 28px;
    text-align: center;
  }
  main .seccion-clientes .contenedor .carrusel-comentarios .container-comentario {
    width: 100%;
    padding: 10px;
  }
  main .seccion-clientes .contenedor .carrusel-comentarios .container-comentario .comentario img {
    height: 20px;
    width: 20px;
  }
  main .seccion-clientes .contenedor .carrusel-comentarios .container-comentario .comentario p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 15px;
  }
  main .seccion-clientes .contenedor .carrusel-comentarios .container-comentario .container-persona {
    margin-bottom: 0px;
    gap: 10px;
  }
  main .seccion-clientes .contenedor .carrusel-comentarios .container-comentario .container-persona .nombre-persona {
    font-size: 20px;
    padding: 0px;
  }
  main .seccion-clientes .contenedor .carrusel-comentarios .container-comentario .container-persona .cargo-persona {
    font-size: 15px;
    margin-bottom: 0px;
    padding: 0px;
  }
  main .carrusel-empresas {
    margin-top: 0px;
    padding: 0px;
    column-gap: 20px;
  }
  main .carrusel-empresas img {
    width: 35%;
  }
  main .seccion-contactanos {
    margin-top: 40px;
    padding-top: 0px;
  }
  main .seccion-contactanos .encabezado h1 {
    font-size: 30px;
  }
  main .seccion-contactanos .tab li {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  main .seccion-contactanos .bloque-form {
    flex-direction: column;
    padding: 0px;
    width: 90%;
  }
  main .seccion-contactanos .bloque-form .formularios label {
    font-size: 16px;
  }
  main .seccion-contactanos .bloque-form .formularios input {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  main .seccion-contactanos .bloque-form .formularios .formulario-servicios {
    gap: 16px;
  }
  main .seccion-contactanos .bloque-form .formularios .formulario-servicios .contenedor-bloque .lblpermisos {
    font-size: 5px;
  }
  main .seccion-contactanos .bloque-form .mapa .informacion {
    gap: 16px;
  }
  main .seccion-contactanos .bloque-form .mapa .informacion .contenedor-bloque {
    align-items: center;
  }
  main .seccion-contactanos .bloque-form .mapa .informacion .contenedor-bloque p {
    font-size: 12px;
    margin-bottom: 0px;
  }
  main .seccion-encabezado {
    height: 228px;
  }
  main .seccion-encabezado .titulos {
    width: 294px;
    padding: 28px;
    gap: 10px;
  }
  main .seccion-encabezado .titulos h1 {
    font-size: 28px;
    margin-bottom: 0px;
  }
  main .seccion-encabezado .titulos h2 {
    font-size: 24px;
    margin-bottom: 0px;
  }
  main .introduccion-servicios {
    padding: 40px 0px;
  }
  main .introduccion-servicios p {
    font-size: 16px;
  }
  main .subservicios .contenedor {
    width: 100%;
  }
  main .subservicios .contenedor .grilla {
    gap: 32px;
    justify-content: center;
    align-items: center;
  }
  main .subservicios .contenedor .grilla .contenedor-subservicio--izquierda {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: 260px;
  }
  main .subservicios .contenedor .grilla .contenedor-subservicio--izquierda .imagen-subservicio {
    position: absolute;
    height: 252px;
    width: 343px;
    z-index: -1;
  }
  main .subservicios .contenedor .grilla .contenedor-subservicio--izquierda .descripcion-subservicio {
    width: 330px;
    margin: 16px;
    border-radius: var(--radius-radius-xs, 5px);
    background: linear-gradient(0deg, rgba(7, 5, 16, 0.5) 0%, rgba(7, 5, 16, 0.5) 100%), var(--background-glass, rgba(37, 30, 67, 0.3));
    box-shadow: 0px 5px 40px 0px rgba(7, 5, 16, 0.5);
    backdrop-filter: blur(9.5px);
    gap: 16px;
    padding: 12px;
  }
  main .subservicios .contenedor .grilla .contenedor-subservicio--izquierda .descripcion-subservicio h1 {
    font-size: 28px;
    text-align: left;
  }
  main .subservicios .contenedor .grilla .contenedor-subservicio--izquierda .descripcion-subservicio p {
    font-size: 16px;
  }
  main .subservicios .contenedor .grilla .contenedor-subservicio--derecha {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: 260px;
  }
  main .subservicios .contenedor .grilla .contenedor-subservicio--derecha .imagen-subservicio {
    position: absolute;
    height: 252px;
    width: 343px;
    z-index: -1;
  }
  main .subservicios .contenedor .grilla .contenedor-subservicio--derecha .descripcion-subservicio {
    width: 330px;
    margin: 16px;
    border-radius: var(--radius-radius-xs, 5px);
    background: linear-gradient(0deg, rgba(7, 5, 16, 0.5) 0%, rgba(7, 5, 16, 0.5) 100%), var(--background-glass, rgba(37, 30, 67, 0.3));
    box-shadow: 0px 5px 40px 0px rgba(7, 5, 16, 0.5);
    backdrop-filter: blur(9.5px);
    gap: 16px;
    padding: 12px;
  }
  main .subservicios .contenedor .grilla .contenedor-subservicio--derecha .descripcion-subservicio h1 {
    font-size: 28px;
    text-align: left;
  }
  main .subservicios .contenedor .grilla .contenedor-subservicio--derecha .descripcion-subservicio p {
    font-size: 16px;
  }
  footer {
    padding: 16px;
  }
  footer .logo-derechos-reservados .logo-footer {
    width: 150px;
  }
  footer .logo-derechos-reservados p {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
