/* PALETA DE COLORES */ 
$background-primary-color: #070510;
$button-color: #03989e;
$button-color-hover: #9747ff;
$button-border-color: #C49CD6;
$primary-font-color: #fdfdfd;

/* TIPOGRAFIA */
$title-font: 'Roboto Flex';
$title-weight: 700;
$title-size: 48px;
$paragraph-1-font: 'Roboto Flex';
$paragraph-1-weight: 400;
$paragraph-1-size: 32px;
$paragraph-2-font: 'Roboto Flex';
$paragraph-2-weight: 400;
// $paragraph-2-size: 24px;
$paragraph-3-font: 'Roboto Flex';
$paragraph-3-weight: 400;
$paragraph-3-size: 20px;